@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.merriweather-sans {
  font-family: 'Merriweather Sans', sans-serif;
}
.bg-gradient {
    background: linear-gradient(90deg, #017EFF, #014C99); 
}
.bg-gradient-hover:hover {
    background: linear-gradient(90deg, #017EFF, #014C99); 
}
.bleu {
    color: #017EFF;
}
.text-gradient {
    background: linear-gradient(90deg, #017EFF, #014C99); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}